header img {
  width: 32.9%;
}
/*more specific take precedence*/
nav a {
  text-decoration: line-through;
}
a {
  text-decoration: none; 
}
/*and more recent takes precedence. important to remember.*/
p { color: magenta; }
p { color: orange; }
